<h1>Issues:</h1>
<% Issue.all.each do |issue| %>
  <h2><%= issue.name %></h2>
  <%= form_with url: today_entries_update_path(issue_id: issue.id), method: :patch do %>
    <%= render "button", value: 0 %>
    <%= render "button", value: 1 %>
    <%= render "button", value: 2 %>
    <%= render "button", value: 3 %>
  <% end %>
<% end %>
