<!DOCTYPE html>
<html>
  <head>
    <title>IssuesTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
    <h4>Menu:</h4>
    <ul>
      <li><%= link_to "How are you feeling today", root_path %></li>
      <li><%= link_to "Manage issues", issues_path %></li>
      <li><%= link_to "Charts", charts_index_path %></li>
    </ul>
  </body>
</html>
